.background{
    margin-bottom: 20px;
}
.background img{
    margin: 30px;
    width: 80%;
    display: flex;
    opacity: calc(0.8);
    justify-content: center;
    align-items: center;
    height: 500px;
     
}
.btn{
    background-color: white;
    color: black;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 50%;
    margin-left: 50%;
    margin-top: -50%;
}
a:hover {
    font-weight: bold;
    font-size: 30px;
}
.someDetails{
    margin: 20px;
}
.someDetails h4{
    color: rgb(119, 13, 13);
    font-weight: bolder;
    font-size: 30px;
}
.someDetails p{
    font-style: italic;
    color: grey;
    font-weight: 700;
}
.overview{
    margin: 20px;
    font-weight: 500;
}
.red{
    color: red;
}
h4{
    margin: 20px;
}